{
   "email":
    {
        "user_name":"***@qq.com",
        "password":"****",
        "sender":"***@qq.com",
        "receiver":"***@qq.com",
        "smtp_server":"**.qq.com",
    },
    "mysql":
    {
        "host":"127.0.0.1",
        "port":3306,
        "user":"***",
        "passwd":"***",
        "db":"***"
    },
    "user0":  
    {     
        "user_name":"***",  
        "password":"***",  
        "province":"***",
	"cpc":0
    }
}
